# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environments
env/
venv/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# App data (generated at runtime)
output/**
!output/.gitkeep
